/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== colors ==========*/
  --first-color: #C961DE; /*utilizado no gradiante*/
  --first-color-alt: #2954A3; /*utilizado no gradiante*/
  --title-color: #FFFFFF;
  --text-color: #FFFFFF;
  --body-color: #0F103F;


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 1rem;
  --biggest-font-size: 5rem;
  --h1-font-size: 3.5rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.8rem;
  --smaller-font-size: 0.95rem;

  --font-family: 'Poppins', sans-serif;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  display:flex;
  margin:auto;
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

/*=============== HEADER & NAV===============*/


/*=============== HOME ===============*/

/*=============== BUTTONS ===============*/

/*=============== ABOUT ===============*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 0 auto;
}

.about__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
}

.about__img-woman {
  display: block;
  position: absolute;
  bottom:204px;
  left:292px;
  z-index: 100;
}

.about__circle {
  position: absolute;
  width:630px;
  height:630px;
  border-radius:50%;
  background:linear-gradient(144.11deg, #C961DE 13.74%, #2954A3 90.91%);
  z-index: 100;
}

.about__area-text {
  display:block;
  top:210px;
  right:50px;
  width:280px;
  position: absolute;
  z-index: 100;
}

h2 {
  display: block;
  font-family:var(--font-family);
  font-size: var(--h2-font-size);
  color: var(--text-color-light);
} 

.section__text {
  font-family:var(--font-family);
  font-weight:var(--font-regular);
  margin-top:20px;
  line-height: 130%;
  font-size:16px;
  z-index: 100;
}

span {
  font-weight: var(--font-bold)
}

.about__cristal {
  display: block;
  position: absolute;
  bottom:-40px;
  right:106px;
  z-index:100;
}

.about__reflex {
  width:1200px;
  top:120px;
  position: relative;
  display: block;
  z-index:1;
}
/*=============== SKILLS ===============*/













/*=============== FOOTER ===============*/
